{% extends 'base.html.twig' %}

{% block title %}Hello DirecteurController!{% endblock %}

{% block body %}
<div class="container">

<h1>Bienvenue le directeur de l'entreprise</h1>

</div>
{% endblock %}
